@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html, body {
    font-family: var(--font-family);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}

.collapse .collapse.collapse-child {
  grid-template-rows: 35px 0fr;
}

.collapse {
  grid-template-rows: 51px 0fr;
}

.collapse:not(.collapse-close):has(> input[type="checkbox"]:checked), .collapse:not(.collapse-close):has(> input[type="radio"]:checked) {
  grid-template-rows: 51px 1fr;
}

.collapse.collapse-child:not(.collapse-close):has(> input[type="checkbox"]:checked), .collapse.collapse-child:not(.collapse-close):has(> input[type="radio"]:checked) {
  grid-template-rows: 35px 1fr;
}

input[type="checkbox"]#collapse-input-animation:checked ~ div > svg {
  rotate: 180deg;
}

input[type="checkbox"]#collapse-input-animation:checked ~ .collapse-title {
  font-weight: bold;
}

.variations::-webkit-scrollbar-thumb {
  border-radius: 1.25rem;
  border: .125rem solid #f2f2f2;
  background: #0085ca;
}

.variations::-webkit-scrollbar {
  height: .625rem;
}

.buy-button-label:hover ~ .buy-button {
  transition: all .4s ease-in-out;
  transform: translateX(-200%);
}

.buy-button:hover ~ .buy-button-label {
  pointer-events: all !important;
}

.buy-button-label:hover {
  transition: all .4s ease-in-out;
  pointer-events: all;
  transform: translate(-300%, -50%);
}

.buy-button-label:hover ~ .box-sizes {
  opacity: 1;
  transform: translateY(0);
  transition: all .4s ease-in-out;
}

.box-sizes:hover {
  opacity: 1;
  transform: translateY(0);
  transition: all .4s ease-in-out;
}

.box-sizes:hover ~ .buy-button {
  transition: all .4s ease-in-out;
  transform: translateX(-200%);
}
.box-sizes:hover ~ .buy-button-label {
  transition: all .4s ease-in-out;
  transform: translateX(-300%, -50%) !important;
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}